/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
}

.destinations-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
